.item_filter {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.item_filter span {
  font-weight: 500;
}

.item_filter div {
  position: relative;
}

.item_filter div label {
  background: var(--white-color);
  padding: 0 10px 0 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  height: 35px;
  box-shadow: inset 0px 0px 10px #00000048;
  cursor: pointer;
  font-weight: 500;
}

.item_filter div ul {
  background: var(--white-color);
  list-style: none;
  width: 100%;
  margin-top: 5px;
  display: none;
  border-radius: 6px;
  padding: 6px 10px;
  max-height: 130px;
  overflow-y: scroll;
  flex-direction: column;
  box-shadow: 0px 3px 12px #65656545;
  cursor: pointer;
  position: absolute;
}

.item_filter div ul.list_numbers {
  flex-direction: row;
  justify-content: space-between;
  column-gap: 5px;
  padding: 10px 5px 10px 10px;
}

.item_filter div ul.list_numbers li {
  width: 100%;
  height: 35px;
  border-radius: 6px;
  color: var(--gray-color);
  text-align: center;
  font-weight: 500;
  border: 2px solid var(--gray-light-color);
}

.item_filter div ul.list_numbers li:hover {
  background: unset;
}

.item_filter div ul.list_numbers li:target {
  background: var(--orange-color);
  color: var(--white-color);
  border: 2px solid var(--orange-color);
}

.item_filter div ul li {
  padding: 5px 6px;
}

.item_filter div ul li:hover {
  background: var(--gray-light-color);
}

.item_filter div ul::-webkit-scrollbar {
  width: 5px;
}

.item_filter div ul::-webkit-scrollbar-thumb {
  background: var(--gray-color);
  border-radius: 20px;
}

.item_filter input[type="checkbox"] {
  display: none;
}

.item_filter input[type="checkbox"]:checked ~ ul {
  display: flex;
}
