:root {
}
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap");

body {
  --black-color: #414141;
  --black-light-color: #414141;
  --gray-color: #b7b7b7;
  --gray-light-color: #e2e2e2;
  --white-color: #ffffff;
  --orange-color: #e36900;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
